/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/* =========modal Олексій========== */

/* щоб падінги враховувались в фінальні розміри елементів  */
* {
  box-sizing: border-box;
}

/* Модальне вікно */

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.is-open {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

/* Вікно форми */
.modal-window {
  position: relative;
  width: 458px;
  border-radius: 30px;
  background: #ffe550;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  padding: 32px;
}

/* Кнопка закрити форму */
.close-form-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}

/* Заголовок форми */

.form-name {
  color: var(--Black, #2c2c2c);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 123px;
}

/* Інпути форми */

.form-modal input {
  display: block;
  height: 48px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  padding-left: 14px;
  margin: 0;
  /* Для тексту всередині */
  color: #c4c4c4;
  font-family: Roboto;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.25;
}

input:not(:last-child) {
  margin-bottom: 24px;
}

.form-modal input:focus {
  border: 1px solid var(--Dark-green, #7eb101);
  outline: none;
}

/* Назви інпутів форми */

.modal-form-input-label {
  margin-bottom: 2px;
  margin-left: 12px;
  color: var(--Black, #2c2c2c);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

/* Кнопка відправити форму */

.send-form-btn {
  display: flex;
  width: 106px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--Dark-green, #7eb101);
  background: #fff;
  margin: 0 auto;
  margin-top: 32px;
  /* Для тексту всередині */
  color: var(--Black, #2c2c2c);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}

.send-form-btn:hover,
.send-form-btn:focus {
  background-color: var(--Button-green, #bbf330);
}
/* Favorites Dima Ц */
.section_favorites {
  padding-top: 100px;
  padding-bottom: 100px;
}
.header_favorites {
  color: var(--Black, #2c2c2c);
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.paragraf_favorites {
  color: var(--Black, #2c2c2c);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.food_container {
  margin: 0 auto;
  padding: 0px 16px;
}
.food_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 111px;
  row-gap: 114px;
}
/* Favorites Dima Ц */
